---
title: "Technology leadership, software architecture, and development."
layout: splash
classes:
  - landing
  - dark-theme
  - wide
permalink: /
hidden: true
author_profile: true
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/banner.png
excerpt: >
  
intro:
  - excerpt: 'You can read more about me and my experiences.<br />I also keep a blog, where I write about technology, strategy and all things software.<br />I hope you find something interesting for you. Please engage and connect!'
feature_row:
  - image_path: '/assets/images/frontpage-profile-picture-resized.png'
    alt: "customizable"
    title: "About me"
    excerpt: "I am experienced in technology leadership, guiding development teams, and designing architectures that align with business goals and deliver software solutions."
    url: "/about/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
  - image_path: '/assets/images/blog-1.png'
    alt: "fully responsive"
    title: "Blog"
    excerpt: "Read about technology related topics like: Cloud, AI, Software engineering, DevEx and much more."
    url: "/posts/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
  - image_path: '/assets/images/speaking.png'
    alt: "100% free"
    title: "What can I do for you?"
    excerpt: "I can help you with technology strategy, cloud and AI adoption, software architecture, development, DevOps and more."
    url: "/services/"
    btn_class: "btn--primary"
    btn_label: "Learn more"  
    
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

<h1 class="page__title" style="text-decoration: underline;">Recent posts</h1>
<br />
<div class="feature__wrapper">
  {% for post in site.posts limit: 3 %}
    {% if post.id %}
      {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
    {% else %}
      {% assign title = post.title %}
    {% endif %}
    <div class="feature__item{% if include.type %}--{{ include.type }}{% endif %}">
      <div class="archive__item">
          <div class="archive__item-teaser">
            <img src="{% if post.header.image %}{{ post.header.image | relative_url }}{% else %}{{ '/assets/images/blog-4.png' | relative_url }} {% endif %}"
                 alt="{% if post.header.image_alt %}{{ post.header.image_alt }}{% endif %}">
            {% if post.header.image_description %}
              <span class="archive__item-caption">{{ post.header.image_description | markdownify | remove: "<p>" | remove: "</p>" }}</span>
            {% endif %}
          </div>

        <div class="archive__item-body">
            <h2 class="archive__item-title">{{ title }}</h2>

          {% if post.excerpt %}
            <div class="archive__item-excerpt">
              {{ post.excerpt | markdownify | strip_html | truncate: 160 }}
            </div>
          {% endif %}
              
          {% if post.url %}
            &nbsp;
            <p><a href="{{ post.url | relative_url }}" class="btn btn--primary">{{ post.btn_label | default: site.data.ui-text[site.locale].more_label | default: "Read" }}</a></p>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}

</div>